Repository jakubstetz/resume-scanner: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint, npm run format, .venv/bin/black

docs: add clarifying comment
  frontend/.env.example
Due: none

style: change styling of file submission buttons
  frontend/src/index.css
Due: npm run format

style: add hover and active animations to file submission buttons
  frontend/src/index.css
Due: npm run format

style: add animated entrances to file upload confirmations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/Components/ResumeUpload/ResumeUpload.jsx
Due: cd frontend && npm run lint, npm run format

feat: implement text-based JD upload functionality
  frontend/src/App.jsx
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/index.css
Due: cd frontend && npm run lint, npm run format

feat: add success message if both PDF and text JDs are submitted
  frontend/src/Components/JobUpload/JobUpload.jsx
Due: cd frontend && npm run lint, npm run format

feat: add animation between different JD upload success messages
  frontend/src/Components/JobUpload/JobUpload.jsx
Due: cd frontend && npm run lint, npm run format

feat: remove unnecessary text submission handling in /upload-job POST route
  main.py
Due: .venv/bin/black

feat: implement capacity for simultaneous storage of both JD text and PDF in React states
  frontend/src/App.jsx
  frontend/src/Components/JobUpload/JobUpload.jsx
Due: cd frontend && npm run lint, npm run format

feat: implement proper animation when file is uploaded and previously submitted text is deleted
  frontend/src/App.jsx
  frontend/src/Components/JobUpload/JobUpload.jsx
Due: cd frontend && npm run lint, npm run format

fix: remove text parameter from upload_job() and extract text from uploaded file instead of text input
  main.py
Due: .venv/bin/black

refactor: consolidate /upload-resume and /upload-job endpoints into a single endpoint
  main.py
Due: .venv/bin/black

refactor: fix frontend file upload handler to use newly consolidated GET /upload-document API endpoint
  frontend/src/App.jsx
Due: cd frontend && npm run lint, npm run format

feat: add button and implement functionality for clearing content submissions
  frontend/src/App.jsx
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/Components/ResumeUpload/ResumeUpload.jsx
  frontend/src/index.css
Due: cd frontend && npm run lint, npm run format

refactor: remove unnecessary useRef for clearing file uploads
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/Components/ResumeUpload/ResumeUpload.jsx
Due: cd frontend && npm run lint, npm run format

minor: rename clearTrigger-controlled keys
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/Components/ResumeUpload/ResumeUpload.jsx
Due: cd frontend && npm run lint, npm run format

feat: prevent analysis when both file and text have been submitted for JD
  frontend/src/App.jsx
Due: cd frontend && npm run lint, npm run format

feat: change success message to warning message when both file and text are submitted for JD
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/index.css
Due: cd frontend && npm run lint, npm run format

chore: implement force replace of local repo with GitHub main branch in EC2 deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

feat: add logging to backend
  app/logging_config.py
  app/services/ai_engine.py
  app/services/pdf_parser.py
  main.py
Due: .venv/bin/black

feat: update analysis logic to return JD skills as well as resume skills
  app/services/ai_engine.py
  frontend/src/Components/Analysis/Analysis.jsx
  main.py
Due: cd frontend && npm run lint, npm run format, .venv/bin/black

feat: disable analyze button and implement loading indicator while AI models are working
  frontend/src/App.jsx
  frontend/src/index.css
Due: cd frontend && npm run lint, npm run format

refactor: split ai_engine.py into separate services for different ML functionalities
  app/services/ner_service.py
  app/services/similarity_service.py
  app/utils.py
  main.py
Due: .venv/bin/black

feat: scaffold GenAI service
  app/services/genai_service.py
Due: .venv/bin/black

feat: implement GenAI service
  app/services/genai_service.py
Due: .venv/bin/black

feat: implement API endpoints for new GenAI service
  main.py
Due: .venv/bin/black

feat: add OPEN_API_KEY value to .env and .env.example
  .env.example
Due: none

feat: install openai package
  requirements.txt
Due: none

refactor: migrate to OpenAI v1.0+ API with client-based architecture
  app/services/genai_service.py
Due: .venv/bin/black

fix: use embed=true on GenAI service API endpoints so that FastAPI expects JSON objects
  app/models/schemas.py
  main.py
Due: .venv/bin/black

docs: add clarifying comment for when leaving out an OpenAI API key
  .env.example
Due: none

feat: implement retrieval and display of GenAI results in frontend
  frontend/src/App.jsx
  frontend/src/Components/Analysis/Analysis.jsx
Due: cd frontend && npm run lint, npm run format

feat: add OPENAI_API_KEY to .env in deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

feat: fine-tune GenAI prompts after initial OpenAI API test
  app/services/genai_service.py
Due: .venv/bin/black

docs: update README.md with new GenAI features
  README.md
Due: npm run format

fix: update title of web page
  frontend/index.html
Due: npm run format

Path conditions:
  cd frontend && npm run lint: any of: frontend/**/*.{js,jsx}
  npm run format: (any of: frontend/**/*.{js,jsx}) or (any of: **/*.{html,css,json,md,yaml,toml})
  .venv/bin/black: any of: **/*.py
