Repository jakubstetz/resume-scanner: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint, npm run format, .venv/bin/black

style: run prettier on codebase
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general.md
  .lintstagedrc
  README.md
  frontend/src/App.jsx
  frontend/src/Components/Analysis/Analysis.jsx
  frontend/src/Components/JobUpload/JobUpload.jsx
  frontend/src/Components/ResumeUpload/ResumeUpload.jsx
  frontend/src/index.css
Due: cd frontend && npm run lint, npm run format

chore: create Dockerfile
  app/Dockerfile
Due: none

chore: create script for local development environment setup
  scripts/local-dev-setup.sh
Due: none

chore: create script for local frontend deployment
  scripts/local-dev-frontend-deploy.sh
Due: none

chore: create script for local backend deployment
  scripts/local-dev-backend-deploy.sh
Due: none

chore: move Dockerfile to root directory
  Dockerfile
Due: none

chore: create .dockerignore
  .dockerignore
Due: none

chore: replace .env.docker with .env.example
  .dockerignore
  .env.example
Due: none

docs: specify lightweight AI models for use in development
  .env.example
Due: none

chore: add .env to frontend subdirectory
  .gitignore
  frontend/.env
Due: none

chore: set local dev setup script to exit if error is encountered
  scripts/local-dev-setup.sh
Due: none

chore: create Docker deployment script
  scripts/docker-deploy.sh
Due: none

chore: create Docker teardown script
  scripts/docker-teardown.sh
Due: none

fix: update variable name for API URL loaded from frontend .env
  frontend/src/App.jsx
Due: cd frontend && npm run lint, npm run format

feat: capitalize upload type for toast notifications
  frontend/src/App.jsx
Due: cd frontend && npm run lint, npm run format

docs: update alternative lightweight model and refine frontend domain explanatory comment
  .env.example
Due: none

feat: specify lightweight models usage in .env and implement in AI engine
  .env.example
  app/services/ai_engine.py
Due: .venv/bin/black

chore: add .dev directory to project
  .gitignore
Due: none

chore: create GitHub Actions backend deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

minor: change name of backend deployment workflow step
  .github/workflows/backend.yaml
Due: npm run format

chore: uninstall Commitizen
  .cz.toml
  requirements.txt
Due: npm run format

chore: uninstall pre_commit
  requirements.txt
Due: none

chore: remove unused imports from AI engine
  app/services/ai_engine.py
Due: .venv/bin/black

chore: update backend deployment workflow to remove unnecessary frontend directory
  .github/workflows/backend.yaml
Due: npm run format

chore: create scripts, Dockerfile, and requirements.txt for lightweight version of backend deployment
  Dockerfile.lightweight
  requirements.lightweight.txt
  scripts/docker-lightweight-deploy.sh
  scripts/local-dev-lightweight-setup.sh
Due: none

chore: move lightweight deployment files to archive
  Dockerfile.lightweight
  requirements.lightweight.txt
  scripts/docker-lightweight-deploy.sh
  scripts/local-dev-lightweight-setup.sh
Due: none

chore: change names of Docker backend deployment scripts
  scripts/docker-backend-deploy.sh
  scripts/docker-backend-teardown.sh
Due: none

chore: modify backend deployment workflow to use full-size Docker deployment
  .github/workflows/backend.yaml
Due: npm run format

chore: create .infra folder with EC2 instance setup instructions
  .infra/SETUP.md
  .infra/nginx_resume-scanner.conf
  .infra/user_data.sh
Due: npm run format

minor: fix NGINX config filename typo and clarify DNS propagation comment
  .infra/user_data.sh
Due: none

chore: remove Certbot setup commands from EC2 user data script
  .infra/user_data.sh
Due: none

docs: add further explanation about Certbot use
  .infra/SETUP.md
Due: npm run format

chore: add while loop to await instance network connectivity before running setup commands
  .infra/user_data.sh
Due: none

chore: create README.md using draft produced by ChatGPT
  README.md
Due: npm run format

minor: fix typo in NGINX config filename
  .infra/SETUP.md
Due: npm run format

minor: change section 2 emoji and title
  .infra/SETUP.md
Due: npm run format

chore: add command to automatically restart nginx on system reboot
  .infra/SETUP.md
  .infra/user_data.sh
Due: npm run format

chore: implement more rigorous cleanup of Docker environment on deploy
  scripts/docker-backend-deploy.sh
Due: none

chore: implement more rigorous cleanup of Docker environment in Docker teardown script
  scripts/docker-backend-teardown.sh
Due: none

chore: rename local deploy script filenames
  scripts/local-backend-deploy.sh
  scripts/local-frontend-deploy.sh
Due: none

Path conditions:
  cd frontend && npm run lint: any of: frontend/**/*.{js,jsx}
  npm run format: (any of: frontend/**/*.{js,jsx}) or (any of: **/*.{html,css,json,md,yaml,toml})
  .venv/bin/black: any of: **/*.py
